# Data Science Tools Assignment

## Introduction

Introduction markdown cell

## Introduction

In this notebook, we will explore various tools and languages used in the field of Data Science. We'll also practice some basic arithmetic operations using Python code.

## Common Libraries Used by Data Scientists

Some commonly used libraries by Data Scientists include:
- Pandas
- NumPy
- Scikit-learn
- TensorFlow
- Matplotlib

## Data Science Tools

| Tool             | Category       |
|------------------|----------------|
| Jupyter Notebook | IDE            |
| RStudio          | IDE            |
| Apache Spark     | Big Data Tool  |
| TensorFlow       | Deep Learning  |
| RapidMiner       | Data Mining    |

## Arithmetic Expression Examples

Below are examples of simple arithmetic expressions using Python.

In [4]:
# This will multiply 3 by 4 and then add 5
(3 * 4) + 5

17

In [5]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives

- List popular languages for Data Science
- List commonly used libraries
- Show examples of arithmetic expressions
- Convert units using Python code
- Create tables using markdown

## Author

Raamiz